<h2>Template: <small>Dinamicos</small></h2>
<hr>

<form (ngSubmit)="guardar()" autocomplete="off" #miFormulario="ngForm">
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input class="form-control" placeholder="Nombre la persona"
              ngModel name="nombre" required>
      <label class="form-text text-danger"
              *ngIf="miFormulario.controls.nombre?.errors &&
                      miFormulario.controls.nombre?.touched">
        Este campo es obligatorio
      </label>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="input-group">
      <input class="form-control" placeholder="Agregar favorito "
              ngModel name="agregar" required>
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Agregar</button>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">
      <input class="form-control">
      <input class="form-control">
      <input class="form-control">
      <input class="form-control">
      <input class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary float-end"
              type="button" (click)="guardar()"
              [disabled]="(miFormulario.controls.nombre?.value) ? false : true">
        Guardar
      </button>
    </div>
  </div>
</form>
